<div [@fadeInOut]="alerts.length">
  <article *ngFor="let item of alerts">
    <p>
      <strong>Button:</strong>
      {{ item.deviceId }}
    </p>
    <p>
      <strong>Alert type:</strong>
      {{ item.alertType }}
    </p>
    <p>
      <strong>Battery leve:</strong>
      {{ item.batteryLevel }}
    </p>
  </article>
</div>

<!-- <article id="<%= dom_id(event) %>">
  <p>
    <strong>Button:</strong>
    <%= link_to event.button.code, button_path(event.button_id) %>
  </p>

  <p>
    <strong>Battery:</strong>
    <%= event.battery %>
  </p>

  <p>
    <strong>Click type:</strong>
    <%= event.click_type %>
  </p>

  <% if event.status %>
  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>
  <% end %>

  <p>
    <strong>Address:</strong>
    <%= event.address %>
  </p>

  <p>
    <strong>User:</strong>
    <%= event.user.email %>
  </p>

  <p>
    <strong>Created At:</strong>
    <%= event.created_at.strftime("%-d/%-m/%y - %I:%M%p") %>
  </p>
</article> -->
